<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>flyEasy</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="\css\home.css">
  <link rel="stylesheet" href="\css\flights.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="\css\add_flights.css">
  <link rel="stylesheet" href="\css\modify_flights.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" id="brand" href="/">flyEasy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/admin_section" id="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" id="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="contact">Contact</a>
            </li>
          </ul>
          <a href="/"><button class="btn btn-danger logout">Logout</button></a>
        </div>
    </nav>

    <!-- Section Selection -->
    <h1 id="flighthead">Modify Flights</h1> 

    <% if (results.length === 0) { %>
        <h1 id="bro">Come on bro! 🤦‍♂️</h1>
        <h1 id="back">Go select a flight and come back</h1>
    <% } else { %> 

        <form action="/modify_flights" method="POST">
            <div class="card">
                <div class="card-body">
                    <table class="table table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Source</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Date</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Dep_time</th>
                            <th scope="col">Arr_time</th>
                            <th scope="col">Fare</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < results.length; i++) { %>
                                <tr>
                                    <input type="hidden" name="flight_id" value="<%= flight_id %>"> 
                                    <td><input class="form-control" name="name" placeholder="Name" value="<%= results[i].name %>"></td>
                                    <td><input class="form-control" name="source" placeholder="Source" value="<%= results[i].source %>"></td>
                                    <td><input class="form-control" name="destination" placeholder="Destination" value="<%= results[i].destination %>"></td>
                                    <td><input class="form-control" name="date" placeholder="Date" value="<%= results[i].date %>"></td>
                                    <td><input class="form-control" name="duration" placeholder="Duration" value="<%= results[i].duration %>"></td>
                                    <td><input class="form-control" name="dep_time" placeholder="dep_time" value="<%= results[i].dep_time %>"></td>
                                    <td><input class="form-control" name="arr_time" placeholder="arr_time" value="<%= results[i].arr_time %>"></td>
                                    <td><input class="form-control" name="fare" placeholder="Fare" value="<%= results[i].fare %>"></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <button name="op" type="submit" class="btn btn-success add-btn" value="modify" onClick="alert('Flight Successfuly Modified')">Modify</button>
                    <a href="/admin_flights"><button type="button" class="btn btn-warning">Back</button></a>
                </div>
            </div>
        </form>
    <% } %>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-item">
        <h1 id="ganesh">Developed with 🤍 by Ganesh Sindagi</h1>
        <a href="https://www.facebook.com/ganesh.sindagi.3"><i class="social-icon fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/GaneshSindagi"><i class="social-icon fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/ganesh_sindagi/"><i class="social-icon fab fa-instagram"></i></a>
        <a href = "mailto:ganeshsindagi7@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
        <p id="copyright">© Copyright 2020 flyEasy</p>
        </div>
    </footer>
</body>
</html> 